@model TanmiahClone.Models.ChickenNuggetModel
<div class="icon-n-text">
    <strong><img src="@Url.Content(Model.Image)" alt="PROCESSED FOOD"></strong>
    <span>@Model.Title</span>
</div>
<h3 class="text-box__heading">@Model.Name</h3>
<p class="text-box__disc">@Model.Description</p>